.showcase {
    background: url('../img/guffaw.jpg') no-repeat center center fixed;
    background-size: cover;
}
.features-bg {
	position: relative;
	min-height: 400px;
	background: url('../img/repeal_logo.jpg') no-repeat center center;
	background-size: cover;
}
.hero {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 800px;
    background: rgb(40, 70, 102) url('../img/kids_beer.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
#hey {
    color:#3F6184;
    font-weight: bold;
    text-shadow: 2px 2px #000;

}
#you {
    font-weight:  bold;  
    /*color:#3F6184;*/
    text-shadow: 2px 2px #000;

}