


.color-primary-0 { color: #69C8C4 }	/* Teal Base */
.color-primary-1 { color: #0D9A94 } /* Teal stronger */
.color-primary-2 { color: #F6FEFE } /* Off-white/green */
.color-primary-3 { color: #356967 } /* Teal Dark */
.color-primary-4 { color: #00EDE4 } /* Teal Light */

.btn-1 {
	background: #70AB8F
}

.bg-content {
 	/*background: url(http://www.htmlcsscolor.com/preview/gallery/E4DBBF.png) 50% 50%;*/
 	background: url(../img/Image-235.jpg);
 	background-size: cover;
}

.row .span6 h3:first {
	color: #DC5B21;
}

.txt-1 {
	color: #DC5B21;
}

.link-1 {
	color: #DC5B21;
}

/* .flex-direction-nav a.flex-next {
	background:url(../img/next.png) no-repeat 50% 50% #383127
}
 .flex-direction-nav a.flex-prev {
	background:url(../img/prev.png) no-repeat 50% 50% #383127*/
}
.flex-direction-nav a:hover{background-color:#70AB8F
}

.twitter-timeline{

}

.btn .btn-cleanup{
	display: inline block;
}

/*.foot-btn{
	color: white;
}*/