
		@font-face {
			font-family: StarJediSE;
			src:url(../fonts/stjedise.ttf);
		}

		@font-face {
			font-family: StarJediOutline;
			src:url(../fonts/starjout.ttf);
		}
		
		@font-face {
			font-family: Calibri;
			src:url(../fonts/calibri.ttf);
		}


		.container{
			border: 3px grey solid;
			
			border-bottom-left-radius :10px;
			border-bottom-right-radius :10px;
			border-top-left-radius :30px;
			border-top-right-radius :255px;
			margin-top: 20px;
			background: #1C1E22;
						
			/*background-color: #1C1E22;*/
			/*background-color: #F5F5F5;*/
		}

		.table th {
			/*color:#c2c2d6;*/
			color:#FFD700;

			font-weight: bold;
		}
		}

		.table td {
			color: #F5F5F5;
		}
		
		tbody tr:hover {
			background: #272B30;
			cursor: pointer;
		}
		

		.search-element{
			margin-bottom: 50px;
		}

		
		.header {
			
		}

		/*body {
			background: #272B30;
		}*/

		.img-store img {
			border: 2px black solid;
			margin: 5px;
		}

		.hid{
			visibility:hidden;
		}

		h1 {
			margin-left: 10px;
			font-weight: bold;
		}
		
		.fa-mars{
			color:#6DCAE8;
		}
		
		.fa-venus{
			color:pink;
		}

		.fa-mercury{
			color:goldenrod;
		}
		.fa-ban{
			color:red;
		}

		.modal-header h1{
			display:inline;
		}

		#genderIco {
			float:right;
		}

		.main-header {
			font-family: "StarJediOutline", Helvetica, sans-serif;
			font-size: 60px;
			color: gold;

		}

		.footer span {
			align-items: right;
		}

		.footer .container {
			margin-top: 3px;
		}

		.foot-right {
			float:right;
		}

		input[type=text] {
			width:60%;
		}

		.container #maincontainer {
			border-top-right-radius: 5px;
			margin-top:50px;
		}

		
		.sub-header {
			vertical-align: bottom;
		}

		a {
			color: #C2C2D6;

		}
		a:hover {
			text-decoration: none;
			color: #C2C2D6;
		}
		.ctn {
			width:60%;
			margin-left: 0px;


		}

		.modal-content {
			background-image: url(../img/bg.jpg)
		}

		body{
			background-image: url(../img/bodybg.jpg);
			background-size: cover;
			}

		#btn-container {
			border: 3px grey solid;
    		border-bottom-left-radius: 2px;
    		border-bottom-right-radius: 2px;
    		border-top-left-radius: 2px;
    		border-top-right-radius: 2px;
    		margin-top: 3px;
    		background: #1C1E22;
    		margin-right: auto;
    		margin-left: auto;
    		padding-left: 15px;
    		padding-right: 15px;
    		padding-top: 10px;
    		padding-bottom: 10px;
		}

		footer #foot-container {
			border: 3px grey solid;
    		border-bottom-left-radius: 10px;
    		border-bottom-right-radius: 50px;
    		border-top-left-radius: 2px;
    		border-top-right-radius: 2px;
    		margin-top: 3px;
    		margin-bottom: 25px;
    		background: #1C1E22;
    		margin-right: auto;
    		margin-left: auto;
    		padding-left: 15px;
    		padding-right: 15px;
    		padding-top: 5px;
    		padding-bottom: 5px;
		}
		
		.img-store img{
			
			box-shadow: 5px 5px 5px #000000;
		}
		.img-store1 {
			border-bottom-left-radius: 2px;
    		border-bottom-right-radius: 2px;
    		border-top-left-radius: 2px;
    		border-top-right-radius: 2px;
    		
		}

		

		.modal-layout {
			border: 2px solid grey;
			border-radius: : 20px
			box-shadow: 5px 5px 10px #1C1E22;
			/*padding-bottom: 5px;*/
			margin-top: 5px;
			margin-left: 10px
			margin-right: 10px;

		}
		.sub {
			margin-left: 10px;
		}

		.appears img {
			height:150px;
			width:100px;
			float:left;
		}

		.appears img:hover{
			-webkit-transform:scale(2.5);
			transform:scale(2.5)

		}

		.modal-label {
			background: grey;
			color:#ffffff;
			/*background: #1C1E22;*/
			margin-bottom: 0px;
			border-bottom: 2px solid #32383E;
			border-top-left-radius:  3px;
			border-top-right-radius:  3px;
		}

		
	/*	.fa-rebel {
			color:red;
					}

		.fa-first-order {
			color:navy;
		}
		*/

		.logo {
			margin: 10px 0px;
		}

		/*tr {
			font-weight: bold;
		}*/
		a:visited {
			text-decoration: none;
		}

		#search-head {
			border-radius:5px;
			/*border-top-left-radius: 10px;
			border-top-right-radius:10px;*/
			margin-top: 2px;
			width:80%;
			background-image: url(../img/bg2.jpg);

		}

		blockquote {
			margin-left: 25px;	
			font-family:  calibri, arial;	
		}

		#spacer {
			margin-top:50px;
		}
		.header strong {
			font-family: calibri, arial;
			font-size: 48px;

		}

		table, .modal, footer {
			font-family: Calibri, arial;
		}

		.modal h1 {
			font-size: 46px;
			/*color:#FFD700;*/
		}

		#ship-ctn {
			/*background-color:#FFD700;*/
			/*background-image: url(../img/ships.jpg);*/
		}

